body{
    margin: 0%;
    padding: 0%;
    background-image: url(login.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;    
}
.login_box{
    width: 400px;
    height: 400px;
    background: green;
    text-align: center;
    font-display: sans-serif;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%,-50%)

    
}

.login_box label{

    color: white;
    font-weight: bold;
}
.info p{
    width: 250px;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    
}
.info img{
    border-radius: 10px;
    width: 250px;
}
.login_box p{
    font-weight: bold;
    font-size: 16px;
    height: 20px;
    bottom: 40px;
}
.login_box input{
    width: 90%;
    margin-bottom: 20px;
}
.login_box input, label, file, button{
   
    width: 90%;
    outline: none;
    height: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    align-self: middle;

}
